body {
    margin: 0;
    background: pink;
    text-align: center;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #0366d6; /* nice blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

nav a:hover {
  background-color: #024ea2;
}
