body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #267CB9;
  text-decoration: none;
}

/* a:hover, a:focus {
  color: #069;
  font-weight: bold;
} */

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width: 500px;
  float: right;
  padding-bottom:50px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.prof {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
    display: grid;
    place-items: center;
}

.title {color: #3b83b1;
        margin: 0 0 20px;
}

.button{display: block;
  	background-color: #55a194;
	color: #fff;
	margin: auto;
	width: 180px;
	height: 50px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer; /* Pointer cursor on hover */
	text-decoration: none;
	text-align: center;
	/*transition: all .5s;*/
	border: none;
	line-height: 50px;
}

.button:hover{
	transform:scale(1.1);
}

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.downloads a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}

/*.downloads a:hover, .downloads a:focus {
  color: #675C5C;
  font-weight: bold;
} */

.downloads ul a:active {
  background-color: #f0f0f0;
}

.downloads li + li + li {
  border-right: none;
  width: 89px;
}

.downloads a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Consolas, monospace;
  color: #333;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
}

footer {
  width:270px;
  height: 103px;
  float: left;
  position: fixed;
  bottom: -10px;
  -webkit-font-smoothing:subpixel-antialiased;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
